
@model WTWDemo.Models.DI.Order

@{
    ViewBag.Title = "ProductResults";
}

<div class="row">
    <div class="col-xs-4">
        <div class="col-xs-12">
            Product ID: @Model.ProductId
        </div>
    </div>
</div>


